/*sidebar and topbar navigation*/
	.sideBarNav{
		height:100%;
		width:250px;
		position:fixed;
		z-index:1;
		top:0;
		left:0;
		background-color:#373e49;
		overflow-x:hidden;
		padding-top:20px;
	}
	div.topBarNav{
		height:50px;
		width:100%;
		position:fixed;
		z-index:2;
		top:0;
		left:0;
		background-color:#373e49;
		overflow-y:hidden;
	}
/*end of sidebar and topbar navigation*/

/*maps api search box*/
	#description {
		font-family: Roboto;
		font-size: 15px;
		font-weight: 300;
	}

	#infowindow-content .title {
		font-weight: bold;
	}

	#infowindow-content {
		display: none;
	}

	#infowindow-content {
		display: inline;
	}
	.pac-card {
		margin: 10px 10px 0 0;
		border-radius: 2px 0 0 2px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		outline: none;
		box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
		background-color: #fff;
		font-family: Roboto;
	}

	#pac-container {
		padding-bottom: 12px;
		margin-right: 12px;
	}

	.pac-controls {
		display: inline-block;
		padding: 5px 11px;
	}

	.pac-controls label {
		font-family: Roboto;
		font-size: 13px;
		font-weight: 300;
	}

	#pacInput {
		background-color: #fff;
		font-family: Roboto;
		font-size: 15px;
		font-weight: 300;
		margin-left: 12px;
		padding: 0 11px 0 13px;
		text-overflow: ellipsis;
		width: 400px;
	}

	#pacInput:focus {
		border-color: #4d90fe;
	}

	#title {
		color: #fff;
		background-color: #4d90fe;
		font-size: 25px;
		font-weight: 500;
		padding: 6px 12px;
	}
	#target {
		width: 345px;
	}
/*end of maps api search box*/

body{font-family:calibri;}

div.enclosure{
		margin:auto;
		width:1000px;
		box-shadow:0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 50px 0 rgba(0, 0, 0, 0.19);
		}

		div.topSpacer{ margin-top:80px;}/*spacer for the content so the top navbar won't eat it*/
		div.leftSpacer{ margin-left:290px;}/*spacer for the content so the side navbar won't eat it*/

      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height:520px;
		width:1000px;
		margin:auto;
	  }
	  
	  div.mapBar{
	  height:80px;
	  width:1000px;
	  background-color:#647EBD; /*992099;*/
	  margin:auto;
	  }
	  
	  table.table1{
	  border-collapse:collapse;
	  width:100%;
	  margin:auto;
	  }
	  
	  table.table1 td{
		padding:10px;
		  /*padding-left:30px;*/
	  }
	  
	  table.table1 th{
	  background-color:#647EBD; /*992099;*/
	  text-align:center;
	  padding-bottom:10px;
	  padding-top:10px;
	  width:10%;
	  color:#ffffff;
	  }
	  /*
	  p.th{
	  padding-top:18px;
	  color:#ffffff;
	  }*/
	  
	  table.table1 tr:nth-child(even){
	  background-color:#FFFFFF; /*e4caff;*/
	  }
	  
	  table.table1 tr:nth-child(odd){
	  background-color:#D3DBED; /*cc99ff;*/
	  }
	  
	  table.table1 tr:hover{
	  background-color:#eeeeee;
	  /*cursor: pointer;
	  opacity:0.5;*/
	  }
      .hide{
		  display:none;
	  }

	  .enclosure{
    width:700px;
}
.tab {
    overflow: auto;
    /*border: 1px solid #ccc;*/
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab span {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 16px; /*14px 16px;*/
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab span:hover {
    background-color:#ddd;
}

.tab2{
	position:absolute;
	width:100%;
	/*right:145px;*/
	left:800px;
	bottom:20px;
}
.tab2 span {
    background-color:#f1f1f1;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
	transition: 0.3s;
	/*width:70px;
	height:50px;
	font-size:16px;
	text-align:center;*/
}
.tab2 span:hover {
    background-color:#ddd;
}

/* Create an active/current tablink class */
.tab span.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
	position:relative;
    /*padding: 6px 12px;*/
    border: 1px solid #ccc;
    border-top: none;
    height:500px;
	overflow: hidden;
	background-color:#fff;
}

.tabmain {
	position:relative;
    overflow: auto;
    /*border: 1px solid #ccc;*/
    background-color: #647EBD /*#f1f1f1;*/
}
.tabmain span {
	display:block;
	margin-left:20px;
    background-color: #f1f1f1; /*inherit;*/
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 24px;
    transition: 0.3s;
	font-size:15px;
	font-weight:bold;
	color: #444;
}
.tabmain span:hover {
    background-color:#ddd;
}
.tabmain span.active {
    background-color: #ccc;
}

	.headerparinline h2,p{
		display: inline;
		padding-left:10px;
		padding-right:20px;
	}
	.divbgcolor{
		background-color:#284282;
	}
	.h2C {
		color:#ffffff;
	}
	.parC{
		color:#c7cddb;
	}
	.textExtended{
		width:90%;
		height:70px;
	}
	.slcExtended{
		width:90%;
		height:30px;
	}
	table.table2{
	  border-collapse:collapse;
	  /*border: 1px solid pink;*/
	  max-width:1000px;
	  width:100%;
	  margin:auto;
	}
	table.table2 td{
		text-align:center;  
	}  
	table.table2 th{
		font-weight:normal;
		text-align:left;
		padding-left:20px;
		padding-top:30px;
	}
	table.table2 img{
		/*display:inline-block;*/
		padding-top:20px;
		width:250px;
		height:250px;
	}
	.TxtLabel{
		text-align:right;
		font-size:12px;
	}
	.MsgWrapper{
		display:block;
		/*visibility:hidden;*/
		width:100%;
		/*background-color:#c1ffc6;*/
		padding:10px;
		text-align:center;
		transition: 0.7s;
		max-height:310px;
		overflow-y:scroll;
	}
	.FloatingMsgBox{
		position:absolute;
		top:150px;
		width:100%; /*inherit;*/
		/*background-color: #8cb8ff;*/ /*inherit;*/
		padding-top:7px;
		padding-bottom:7px;    
		/*padding:20px;*/
		transition: 0.3s;
		font-size:12px;
		text-align:center;
		visibility: hidden;
	}
	.MsgXBtn {
		position:absolute;
		right:20px;
		top:5px;
		color: #b7b7b7;
		font-weight: bold;
		float: right;
		font-size: 22px;
		line-height: 20px;
		cursor: pointer;
		transition: 0.3s;
	}
	
	.MsgXBtn:hover {
		color: black;
	}